.utensilios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.utensilio {
    text-align: left;
    margin: 20px;
    max-width: 200px;
}

.Cocinero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 30%;
}

body {
    background-color: black;
    margin: 0;
    font-size: 16px; 
}

div {
    max-width: 100%; 
    padding: 0 20px; 
    margin: 0 auto;
    text-align: center; 
}

h1, h2 {
    color: white;
}

p {
    color: white;
    margin: 0 10%; 
}

nav {
    overflow: hidden;
    background-color: rgb(169, 45, 194);
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav button {
    padding: 0.5em 1em;
    margin: 0 0.5em; 
    border: none;
    background-color: rgb(169, 45, 194);
    color: black;
    font-size: 1.5em;
}

nav button:hover {
    background-color: rgb(235, 138, 255);
    color: white;
}