body {
    background-color: black;
    margin: 0;
    font-size: 16px;
}

div.alimentos {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.grupo {
    flex: 1;
    max-width: 300px;
    margin: 20px;
}

h1 {
    color: rgb(15, 130, 224);
    text-align: center;
}

h2 {
    color: rgb(74, 151, 214);
}

p, li {
    color: white;
    margin-right: 6%;
    margin-left: 6%;
}

nav {
    overflow: hidden;
    background-color: rgb(15, 224, 213);
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav button {
    padding: 0.5em 1em;
    margin: 0 0.5em; 
    border: none;
    background-color: rgb(15, 224, 213);
    color: black;
    font-size: 1.5em;
}

nav button:hover {
    background-color: rgb(15, 130, 224);
    color: white;
}

@media screen and (max-width: 768px) {
    div.grupo {
        max-width: 100%;
    }
    h1 {
        font-size: 1.5em;
    }    
    nav button {
        font-size: 0.75em;
    }
}