<body>
    <nav>
        <button (click)="principal()"> Principal </button>
        <button (click)="historia()"> Historia </button>
        <button (click)="cocineros()"> Cocineros </button>
        <button (click)="bibliografia()"> Bibliografia </button>
        <button (click)="utensilios()"> Utensilios </button>
        <button (click)="alimentos()"> Alimentos </button>
    </nav>
      
    <h1>Alimentos Utilizados en la Cocina</h1>
    <div class="alimentos">
        <div class="grupo">
            <h2>Alimentos para Cocinar</h2>
            <ul>
                <li>Arroz</li>
                <li>Pasta</li>
                <li>Harina</li>
                <li>Legumbres</li>
                <li>Frutas y Verduras frescas</li>
                <li>Carnes (pollo, res, cerdo)</li>
                <li>Pescados y Mariscos</li>
                <li>Aceites y Vinagres</li>
                <li>Especias y Hierbas</li>
                <li>Lácteos (leche, queso, mantequilla)</li>
            </ul>
        </div>
        <div class="grupo">
            <h2>Alimentos Destacados por los Chefs</h2>
            <ul>
                <li>Trufas</li>
                <li>Caviar</li>
                <li>Foie Gras</li>
                <li>Azafrán</li>
                <li>Citrus (limones, naranjas)</li>
                <li>Pimientos de Piquillo</li>
                <li>Setas y Hongos</li>
                <li>Jamón Ibérico</li>
                <li>Pescado de Calidad (atún, salmón)</li>
                <li>Especias Exóticas</li>
            </ul>
        </div>
    </div>
</body>