body {
    background-color: #000000;
    font-size: 20px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(231, 9, 9);
}

nav {
    overflow: hidden;
    background-color: rgb(231, 9, 9);
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav button {
    padding: 0.5em 1em;
    margin: 0 0.5em; 
    border: none;
    background-color: rgb(231, 9, 9);
    color: rgb(255, 255, 255);
    font-size: 1.5em; 
}

nav button:hover {
    background-color: rgb(255, 103, 103);
    color: white; 
}

img {
    display: block;
    margin: 0 auto 1em auto;
    max-width: 100%;
}

p {
    text-align: center;
    color: #6B6B6B;
    font-size: 0.85em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }    
    nav button {
        font-size: 0.75em;
    }
}