<nav>
    <button (click)="principal()"> Principal </button>
    <button (click)="historia()"> Historia </button>
    <button (click)="cocineros()"> Cocineros </button>
    <button (click)="bibliografia()"> Bibliografia </button>
    <button (click)="utensilios()"> Utensilios </button>
    <button (click)="alimentos()"> Alimentos </button>
</nav>        
<h1> <b> Estás en la página principal </b> </h1>
<img src="https://images.squarespace-cdn.com/content/v1/6106f45480e91b005a569191/7694ecb3-8f9d-462f-8240-51dd44656cc9/CUE%CC%81NTAME+TUS+SECRETOS+DE+COCINA.jpg"> 

<div>
    <p> Nombre: Ángela Santos <br> 
        Curso: 2º DAM - Campus FP - Alcalá de Henares <br> 
        Fecha: 12/02/2024 </p>
</div>


<!--
<body>
    <h1> <b> Estás en la página principal </b> </h1>   
</body>
-->

<!--<body>
    <h1> Estás en la página principal </h1>

    <nav>
        <button (click)="principal()"> Ir a Principal </button>
        <button (click)="historia()"> Ir a historia </button>
        <button (click)="cocineros()"> Ir a cocineros </button>
        <button (click)="bibliografia()"> Ir a bibliografia </button>
        <button (click)="utensilios()"> Ir a utensilios </button>
        <button (click)="alimentos()"> Ir a alimentos </button>
    </nav>-->

    <!--
    <div class="navbar">
        <nav>
            <a href="#" onclick="principal()">Principal</a>
            <a href="#" onclick="historia()">Historia</a>
            <a href="#" onclick="cocineros()">Cocineros</a>
            <a href="#" onclick="bibliografia()">Bibliografía</a>
            <a href="#" onclick="utensilios()">Utensilios</a>
            <a href="#" onclick="alimentos()">Alimentos</a>--

            <button (click)="principal()"> Principal </button>
            <button (click)="historia()"> Historia </button>
            <button (click)="cocineros()"> Cocineros </button>
            <button (click)="bibliografia()"> Bibliografia </button>
            <button (click)="utensilios()"> Utensilios </button>
            <button (click)="alimentos()"> Alimentos </button>            
        </nav>
    </div>
</body>-->