<nav>
    <button (click)="principal()"> Principal </button>
    <button (click)="historia()"> Historia </button>
    <button (click)="cocineros()"> Cocineros </button>
    <button (click)="bibliografia()"> Bibliografia </button>
    <button (click)="utensilios()"> Utensilios </button>
    <button (click)="alimentos()"> Alimentos </button>
</nav>  
<h1> <b> Estás en la página principal </b> </h1>
<img src="https://images.squarespace-cdn.com/content/v1/6106f45480e91b005a569191/7694ecb3-8f9d-462f-8240-51dd44656cc9/CUE%CC%81NTAME+TUS+SECRETOS+DE+COCINA.jpg"> 

<div>
    <p> Nombre: Ángela Santos <br> 
        Curso: 2º DAM - Campus FP - Alcalá de Henares <br> 
        Fecha: 12/02/2024 </p>
</div>

<!-- 1ª FORMA -> Dentro del body todo 
    <body>
        <nav>
            <button (click)="principal()"> Principal </button>
            <button (click)="historia()"> Historia </button>
            <button (click)="cocineros()"> Cocineros </button>
            <button (click)="bibliografia()"> Bibliografia </button>
            <button (click)="utensilios()"> Utensilios </button>
            <button (click)="alimentos()"> Alimentos </button>
        </nav>  
        <h1> <b> Estás en la página principal </b> </h1>
        <img src="https://images.squarespace-cdn.com/content/v1/6106f45480e91b005a569191/7694ecb3-8f9d-462f-8240-51dd44656cc9/CUE%CC%81NTAME+TUS+SECRETOS+DE+COCINA.jpg"> 

        <div>
            <p> Nombre: Ángela Santos <br> 
                Curso: 2º DAM - Campus FP - Alcalá de Henares <br> 
                Fecha: 12/02/2024 </p>
        </div>
    </body> -->

<!-- 2ª FORMA -> Barra de navegación fuera y dentro el resto
    <nav>
        <button (click)="principal()"> Principal </button>
        <button (click)="historia()"> Historia </button>
        <button (click)="cocineros()"> Cocineros </button>
        <button (click)="bibliografia()"> Bibliografia </button>
        <button (click)="utensilios()"> Utensilios </button>
        <button (click)="alimentos()"> Alimentos </button>
    </nav> 
    <body>
        <h1> <b> Estás en la página principal </b> </h1>
        <img src="https://images.squarespace-cdn.com/content/v1/6106f45480e91b005a569191/7694ecb3-8f9d-462f-8240-51dd44656cc9/CUE%CC%81NTAME+TUS+SECRETOS+DE+COCINA.jpg"> 

        <div>
            <p> Nombre: Ángela Santos <br> 
                Curso: 2º DAM - Campus FP - Alcalá de Henares <br> 
                Fecha: 12/02/2024 </p>
        </div>
    </body> -->