div {
    max-width: 1200px;
    font-size: 20px;
    margin:0 auto;
    text-align: left;
}

.alinear {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(15, 224, 15);
    text-align: center;
}

h2 {
    color: rgb(96, 247, 96);
    margin-left: 1%;

}

p, li{
    color: white;
}


body{
    background-color: black;
    margin: 0;
}

nav{
    overflow: hidden;
    background-color: rgb(15, 224, 15);
    display: flex;
    justify-content: center;
    padding: 15px 10px;
}

nav button {
    padding: 10px 15px;
    margin: 0 15px;
    border: none;
    background-color: rgb(15, 224, 15);
    color: black;
    font-size: 35px;
}

nav button:hover {
    background-color: rgba(17, 70, 17, 0.7);
    color: white; 
}

img{
    align-items: center;
}