<body>
    <nav>
        <button (click)="principal()"> Principal </button>
        <button (click)="historia()"> Historia </button>
        <button (click)="cocineros()"> Cocineros </button>
        <button (click)="bibliografia()"> Bibliografia </button>
        <button (click)="utensilios()"> Utensilios </button>
        <button (click)="alimentos()"> Alimentos </button>
    </nav>
    
    <header>     
        <div class="alinear">
            <!--<img src="https://previews.123rf.com/images/guru86/guru861706/guru86170600281/92134231-sombrero-de-chef-libro-de-recetas-s%C3%ADmbolo-de-dise%C3%B1o-ilustraci%C3%B3n.jpg"
            alt="foto" width="130px" height="auto">  -->
            <h1> Historia de la cocina </h1>
        </div> 
    </header>
    <div>
        <h2>Introducción</h2>
        <p> La cocina es un arte culinario que ha evolucionado a lo largo de los siglos en diferentes partes del mundo, 
            reflejando la diversidad cultural y los ingredientes disponibles en cada región.</p> <br> 

        <h2> Tipos de Cocina </h2>
        <p> Existen numerosos tipos de cocina en el mundo, cada uno con sus propias técnicas, ingredientes y platos característicos. </p>
        <ul>
            <li> <b> Cocina italiana: </b> Destaca por su pasta, pizza y risotto.</li>
            <li> <b> Cocina francesa: </b> Es conocida por su sofisticación y platos como el coq au vin y el bouillabaisse.</li>
            <li> <b> Cocina china: </b> Es variada y rica en sabores, con platos como el pato laqueado y el dim sum. </li>
            <li> <b> Cocina mexicana: </b> Usan bastante picante, p.ej como los tacos, el mole y el guacamole.</li>
        </ul>
        <h2> ¿Por qué es mejor la Comida Española ? </h2>
        <p> Entre la gran variedad de cocinas del mundo, la comida española destaca por su sabor, diversidad y tradición. 
            Platos emblemáticos como el cocido español, los churros con chocolate, la tortilla de patatas y el jamón ibérico 
            son solo una muestra de la riqueza gastronómica de España. </p>
        <p> La combinación de ingredientes frescos, técnicas culinarias sofisticadas y una larga historia gastronómica hacen 
            que la comida española sea una de las más apreciadas a nivel mundial. Desde los sabores intensos de la paella 
            hasta la delicadeza del gazpacho, cada bocado cuenta una historia de pasión y dedicación en la cocina española.</p>
        <p> En resumen, la comida española no solo es deliciosa, sino que también refleja la cultura, la historia y 
            la hospitalidad de España, convirtiéndola en una experiencia culinaria inigualable.</p>
    </div>    
</body>
