<body>    
    <nav>
        <button (click)="principal()"> Principal </button>
        <button (click)="historia()"> Historia </button>
        <button (click)="cocineros()"> Cocineros </button>
        <button (click)="bibliografia()"> Bibliografia </button>
        <button (click)="utensilios()"> Utensilios </button>
        <button (click)="alimentos()"> Alimentos </button>
    </nav>
    
    <h1>Bibliografía de Chefs</h1>
    <h2>Quique Dacosta</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Arroces contemporáneos</em></li>
        <li><em>De Tapas con Quique Dacosta</em></li>
    </ul>
    <p><strong>Edad:</strong> 50 años (27 de diciembre de 1972)</p>
    <p><strong>Lugar de Nacimiento:</strong> Jarandilla de la Vera, Cáceres, España</p>
    <p><strong>Estudios:</strong> Estudió cocina en la Escuela de Hostelería de Valencia.</p>
    <p><strong>Otros:</strong> Además de ser chef, Quique Dacosta es empresario y propietario de varios restaurantes, incluido el restaurante Quique Dacosta en Denia, España.</p>

    <h2>Paco Pérez</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Cocina marina: La evolución gastronómica del pescado y el marisco</em></li>
    </ul>
    <p><strong>Edad:</strong> 56 años (16 de diciembre de 1968)</p>
    <p><strong>Lugar de Nacimiento:</strong> Huelva, España</p>
    <p><strong>Estudios:</strong> Se formó en la Escuela de Hostelería de Barcelona.</p>
    <p><strong>Otros:</strong> Además de ser chef, Paco Pérez es propietario de varios restaurantes, incluido el restaurante Miramar en Llançà, España.</p>

    <h2>Albert Adrià</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Natura</em></li>
        <li><em>Tapas: La cocina del Tickets</em></li>
    </ul>
    <p><strong>Edad:</strong> 53 años (27 de agosto de 1971)</p>
    <p><strong>Lugar de Nacimiento:</strong> L'Hospitalet de Llobregat, Barcelona, España</p>
    <p><strong>Estudios:</strong> Comenzó su carrera en la cocina trabajando en el restaurante El Bulli, donde su hermano Ferran Adrià era chef.</p>
    <p><strong>Otros:</strong> Además de ser chef, Albert Adrià es empresario y ha sido reconocido por su innovación en el mundo de la pastelería.</p>

    <h2>Hermanos Torres</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Cocina en casa con los hermanos Torres</em></li>
        <li><em>Bruno, cocina en casa</em></li>
    </ul>
    <p><strong>Edad:</strong> 50 años (Sergio Torres) y 50 años (Javier Torres) (5 de febrero de 1974)</p>
    <p><strong>Lugar de Nacimiento:</strong> Barcelona, España</p>
    <p><strong>Estudios:</strong> Ambos estudiaron cocina en la Escuela de Hostelería de Barcelona.</p>
    <p><strong>Otros:</strong> Además de ser chefs, los Hermanos Torres son presentadores de televisión y han escrito varios libros de cocina.</p>

    <h2>David Muñoz</h2>
    <p>Libros:</p>
    <ul>
        <li><em>El Jefe</em></li>
    </ul>
    <p><strong>Edad:</strong> 43 años (10 de noviembre de 1981)</p>
    <p><strong>Lugar de Nacimiento:</strong> Madrid, España</p>
    <p><strong>Estudios:</strong> Estudió cocina en la Escuela de Hostelería de Madrid.</p>
    <p><strong>Otros:</strong> Además de ser chef, David Muñoz es propietario del restaurante DiverXO, que cuenta con tres estrellas Michelin.</p>

    <h2>Jordi Cruz</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Cocina en casa con Jordi Cruz</em></li>
        <li><em>La cocina del Atelier de Jordi Cruz</em></li>
    </ul>
    <p><strong>Edad:</strong> 45 años (29 de febrero de 1976)</p>
    <p><strong>Lugar de Nacimiento:</strong> Manresa, Barcelona, España</p>
    <p><strong>Estudios:</strong> Estudió cocina en la Escuela de Hostelería de Manresa.</p>
    <p><strong>Otros:</strong> Además de ser chef, Jordi Cruz es jurado del programa de televisión MasterChef España y ha participado en varios programas de cocina.</p>

    <h2>Karlos Arguiñano</h2>
    <p>Libros:</p>
    <ul>
        <li><em>Cocina en casa con Jordi Cruz</em></li>
    </ul>
    <p><strong>Edad:</strong> </p>
    <p><strong>Lugar de Nacimiento:</strong> </p>
    <p><strong>Estudios:</strong> </p>
    <p><strong>Otros:</strong> </p>

    <h2>Karlos Arguiñano</h2>
    <p>Libros:</p>
    <ul>
        <li><em>La cocina fácil de Karlos Arguiñano</em></li>
        <li><em>Cocina para todos</em></li>
    </ul>
    <p><strong>Edad:</strong> 73 años (6 de septiembre de 1951)</p>
    <p><strong>Lugar de Nacimiento:</strong> Beasain, Guipúzcoa, España</p>
    <p><strong>Estudios:</strong> Se formó en la Escuela de Hostelería de Zarautz.</p>
</body>



<!-- <p>bibliografia works!</p>

<h1> Bibliografía de los Cocineros más famosos de España </h1>-->
