body {
    background-color: black;
    margin: 0;
    font-size: 16px;
}

nav {
    overflow: hidden;
    background-color: rgb(255, 241, 51);
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav button {
    padding: 0.5em 1em;
    margin: 0 0.5em; 
    border: none;
    background-color: rgb(255, 241, 51);
    color: black;
    font-size: 1.5em;
}

nav button:hover {
    background-color: rgba(116, 109, 22, 0.486);
    color: white; 
}

h1 {
    color: rgb(252, 93, 1);
    text-align: center;
}

h2 {
    color: rgb(247, 154, 100);
    margin-right: 10%;
    margin-left: 10%;
}

p, li {
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

ul {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    h2, p, li {
        margin-right: 5%;
        margin-left: 5%;
    }
    h1 {
        font-size: 1.5em;
    }    
    nav button {
        font-size: 0.75em;
    }
}